* {
    margin: 0;
    padding: 0
}

a {
    text-decoration: none
}

body {
    background: lightblue url(./wall.png) center center;
    background-size: cover;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    display: inline-block;
    /* background: rgba(0, 0, 0, 0.5); */
    padding: 15px 30px 30px;
    border-radius: 5px;
}

.wrapper>div {
    text-align: left;
}

#x>div:nth-child(2) {
    margin-left: 2em;
}

#x>div:nth-child(3) {
    margin-left: 4em;
}

main>#x kbd {
    padding-top: 55px;
    width: 55px;
    font-size: 15px;
    color: #999999;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: 16px;
    margin-top: 15px;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 73%, rgba(237, 237, 237, 1) 100%);
    box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.59);
}

main>#x kbd:hover {
    box-shadow: 0px -1px 8px 0px rgba(0, 0, 0, 0.55)
}

kbd>button {
    position: absolute;
    right: 0;
    top: 72%;
    display: none;
}

kbd:hover>button {
    display: inline-block;
}

.text {
    position: absolute;
    left: 7px;
    top: 5px;
}

kbd>img {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 5px;
    bottom: 2px;
}