body {
    background-color: #EFEFEF;
    color: black;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

hr {
    height: 0;
    border: none;
    border-top: 1px solid #DEDEDE;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

ul, ol {
    list-style: none;
}

.loading {
    height: 200px;
    width: 200px;
    position: relative;
}

.loading::before, .loading::after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: lightslategray;
    position: absolute;
    border-radius: 50%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    animation: s 2s linear infinite;
}

.loading::after {
    animation-delay: 1s;
}

@keyframes s {
    0% {
        width: 5px;
        height: 5px;
        opacity: 1;
    }
    100% {
        width: 75px;
        height: 75px;
        opacity: 0;
    }
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.topNavBar {
    padding: 16px 0 16px 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    color: white;
    font-size: 13px;
    transition: ease-in 0.5s;
}

.topNavBar.sticky {
    background-color: white;
    padding: 10px 0 10px 0;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.75);
    color: #9A9BA1;
    font-size: 15px;
    font: bold;
}

.topNavBar .topNavBar-inner {
    padding: 0 16px 0 16px;
}

.topNavBar nav {
    float: right;
    padding-top: 17px;
    padding-bottom: 2px;
}

.topNavBar nav>ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topNavBar nav>ul>li {
    float: left;
    margin-left: 18px;
    margin-right: 18px;
    position: relative;
}

.topNavBar nav .active>.submenu {
    background-color: white;
    color: black;
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    white-space: nowrap;
    animation: mouseSlide 0.3s;
}

@keyframes mouseSlide {
    0% {
        margin-right: 100%;
    }
    100% {
        margin-right: 0;
    }
}

.topNavBar nav .submenu>li {
    margin: 22px 33px 5px 40px;
}

.topNavBar nav .submenu {
    display: none;
}

.topNavBar nav>ul>li>a {
    color: inherit;
    font-size: inherit;
    font-weight: bold;
    display: block;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    padding-bottom: 11px;
    position: relative;
}

.topNavBar nav>ul>li.active>a::after {
    content: "";
    display: block;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: #d86f6f;
    animation: k 0.3s;
}

@keyframes k {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.topNavBar .logo {
    float: left;
    font-size: 24px;
    font-family: "Arial Black";
    padding-top: 8px;
    padding-bottom: 9px;
}

.topNavBar .logo .rs {
    color: #d86f6f;
    margin-right: 5px;
}

.topNavBar .logo .card {
    color: #9b9da1;
}

.banner {
    background-image: url(./img/background.jpg);
    height: 515px;
    background-position: center center;
    background-size: cover;
}

.banner .mask {
    background-color: rgb(0, 0, 0, 0.8);
    height: 515px;
}

.userCard {
    /* border: 1px solid red; */
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 0px 2px 9px 1px rgba(0, 0, 0, 0.35);
}

.userCard .userCard-info {
    padding: 56px 50px;
}

.userCard .userCard-info .picture {
    float: left;
}

.userCard .userCard-info .text {
    float: left;
    margin-left: 62px;
    width: 472px;
}

.userCard .userCard-info .text .welcome {
    background-color: #D76F6F;
    display: inline-block;
    color: white;
    padding: 5px 17px;
    line-height: 19px;
    position: relative;
    margin-bottom: 28px;
}

.userCard .userCard-info .text .welcome .triangle {
    border: 10px solid;
    border-top-width: 0;
    border-bottom-color: transparent;
    border-left-color: #D76F6F;
    border-right-color: transparent;
    left: 4px;
    top: 100%;
    position: absolute;
}

.userCard .userCard-info .text h2 {
    margin-bottom: 5px;
}

.userCard .userCard-info .text p {
    margin-bottom: 21px;
}

.userCard dl dt, .userCard dl dd {
    float: left;
    margin-bottom: 10px;
}

.userCard dl {
    margin-top: 31px;
}

.userCard dl dt {
    width: 25%;
    font-weight: bold;
}

.userCard dl dd {
    width: 75%;
    line-height: 8px;
    padding: 10px 0 4px 0;
    color: #B6B8BC;
}

.userCard .media {
    background-color: #D86F6F;
    text-align: center;
}

.userCard .media svg {
    width: 20px;
    height: 20px;
    fill: white;
    vertical-align: top;
}

.userCard .media a {
    display: inline-block;
    border-radius: 50%;
    line-height: 20px;
    padding: 10px;
    margin: 20px 18px;
}

.userCard .media a:hover {
    background-color: #C26464;
}

body>.main {
    margin-top: -344px;
}

body>.main .buttonWrapper {
    text-align: center;
}

body>.main .button {
    display: inline-block;
    line-height: 10px;
    padding: 21px 55px;
    border: 1px solid #CBCDCF;
    color: #3E4450;
    margin-top: 35px;
    margin-bottom: 25px;
    font-weight: bold;
    transition: box-shadow 0.4s;
    border-radius: 3px;
}

body>.main .button:hover {
    box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.35);
}

.selfintroduction {
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 36px;
    font-family: "ProFont for Powerline"
}

.skills ol {
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 0px 2px 9px 1px rgba(0, 0, 0, 0.35);
    padding: 50px 40px 30px;
    margin-top: 25px;
}

h2.secondHeader {
    text-align: center;
    padding-top: 70px;
    font-size: 34px;
    line-height: 41px;
}

.skills .progressbar {
    height: 5px;
    background-color: #F7E2E2;
    border-radius: 2px;
}

.skills .progressbar .progress {
    height: 100%;
    width: 50%;
    background-color: #D86F6F;
    border-radius: 2px;
}

.skills ol li {
    float: left;
    width: 50%;
    line-height: 15px;
    margin-bottom: 40px;
}

.skills ol>li>h3 {
    margin-bottom: 6px;
}

.skills ol>li:nth-child(even) {
    float: right;
}

.skills ol>li:nth-child(odd) {
    box-sizing: border-box;
    padding-right: 30px;
}

.projects {
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    text-align: center;
}

.projects nav {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-top: 32px;
}

.projects nav ol {
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
}

.projects nav ol li {
    float: left;
    margin-left: 51px;
    cursor: pointer;
}

.projects nav ol li:first-child {
    margin-left: 0;
}

.projects .bar {
    height: 5px;
    background-color: white;
    position: relative;
    border-radius: 2px;
    margin-top: 12px;
}

.projects .bar .fillbar {
    height: 100%;
    background-color: #D26464;
    position: absolute;
    left: 0;
    width: 25%;
    border-radius: 2px;
    transition: all 1s;
}

.fillbar1 {
    height: 100%;
    background-color: #D26464;
    position: absolute;
    width: 35%;
    left: 30%;
    border-radius: 2px;
    transition: all 1s;
}

.fillbar2 {
    height: 100%;
    background-color: #D26464;
    position: absolute;
    width: 30%;
    left: 75%;
    border-radius: 2px;
    transition: all 1s;
}

.jobs {
    position: relative;
    height: 576px;
    margin-top: 30px;
}

.bigimage, .smalltop, .smallbottom {
    position: absolute;
    display: block;
    box-shadow: 0px 0px 10px 1px rgba(191, 186, 90, 0.84);
}

.smalltop {
    left: 68.4%;
}

.smallbottom {
    left: 68.4%;
    top: 51.8%;
}